<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Html.Partial("_Meta")
    @Html.Partial("_Css")
    @Html.Partial("_Script")
    @RenderSection("head", false)
</head>

<body>
	<div class="container_12">
		@RenderBody()
	</div>
</body>
</html>
